@model FinalProject.Models.Coffee

@{
    ViewBag.Title = "Delete";
}
<header class="intro-header" style="background-image: url('../img/post-sample-image.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>For Sale</h1>
                    <hr class="small">
                    <span class="subheading">Our favorite coffee</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2>Delete</h2>

            <h3>Are you sure you want to delete this?</h3>
            <div>
                <h4>Coffee</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreateDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EditDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EditDate)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>

        </div>

    </div>
</div>