@model IEnumerable<FinalProject.Models.Coffee>

@{
    ViewBag.Title = "Index";
}
<header class="intro-header" style="background-image: url('../img/post-sample-image.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>For Sale</h1>
                    <hr class="small">
                    <span class="subheading">Our favorite coffee</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2>Coffee Menu</h2>

            <p>
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Create New", "Create")
                }
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Beans)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EditDate)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <th>
                            @Html.DisplayFor(model => item.Beans.Count)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EditDate)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.CoffeeId })
                            @if (Request.IsAuthenticated)
                            {
                                @Html.Raw(" | ")
                                @Html.ActionLink("Edit", "Edit", new { id = item.CoffeeId })
                                @Html.Raw(" | ")
                                @Html.ActionLink("Delete", "Delete", new { id = item.CoffeeId })
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
