@model FinalProject.Models.Bean

@{
    ViewBag.Title = "Details";
}
<header class="intro-header" style="background-image: url('../img/post-sample-image.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>For Sale</h1>
                    <hr class="small">
                    <span class="subheading">Our favorite coffee</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2>Details</h2>

            <div>
                <h4>Bean</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Coffees)
                    </dt>
                    <dd>
                        <ul>
                            @foreach (var coffeeBean in Model.Coffees)
                            {

                                <li>@coffeeBean.Coffee.Name</li>
                            }

                        </ul>
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreateDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EditDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EditDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Ratings)
                    </dt>
                    <dd id="RatingsControl">
                        @{ Html.RenderAction("RatingsControl", "Ratings", new { beanId = Model.BeanId });}
                    </dd>
                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.BeanId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
                <script>
        function SetRatingControlCallbacks() {
            var rank = $("#RatingsControl a[name='Rank']");
            rank.on('click', SetRating);
        }

        function SetRating(e) {
            var data = { beanId: $(this).data("beanid"), rank: $(this).data("rank") };
            $.post("@Url.Action("SetRating","Ratings")", data)
                .done(function (response, status, jqxhr) {
                    var url = "@Url.Action("RatingsControl","Ratings")";
                    $("#RatingsControl").load(url, { beanId: data.beanId }, function (responseText, statusText, xhr) {
                        switch (statusText) {
                            case "success":
                                SetRatingControlCallbacks();
                                break;
                            default:
                                break;
                        }
                        if (responseText.length == 0) {

                        }
                    });
                })
                .fail(function (jqxhr, status, error) { });
        }

        $(document).ready(SetRatingControlCallbacks);
                </script>
            }
